<a href="https://colab.research.google.com/github/leydy-fernandes/Ola-Mundo/blob/main/C%C3%B3pia_de_aula02mini_curso_ds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Exercício Aula 02
# Importando bibliotecas
# Importando arquivo do meu computador para a nuvem no arquivo"variável"

In [6]:
import pandas as pd
import io
import numpy as np

from google.colab import files

In [7]:
file_uploaded = files.upload()

Saving AB_NYC_2019.csv to AB_NYC_2019.csv

In [10]:
df = pd.read_csv( io.BytesIO( file_uploaded['AB_NYC_2019.csv'] ) )

In [13]:
# Comandos para consultar os dados.
# 1 Descobrir  o tipo de variável ( balde ) que guarda os dados.
type ( df )

pandas.core.frame.DataFrame

In [14]:
# 2 Descobrir o número de linhas e colunas de uma planinha.
df.shape

(48895, 16)

In [15]:
# 3 Mostrar as 6 principais linhas da planilha de dados.
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [22]:
# 4- dEscobrir o tipo de dados de uma coluna.
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [23]:
# 5 Descobrir os números de dados faltantes de cada coluna.
df.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [24]:
# 6 Descobris informações gerais de uma planilha de dados. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [37]:
# 7 Como filtrar as colunas 
# df.loc[linhas, colunas]
cols = ['host_name', 'price']
df.loc[:, cols]

           host_name  price
0               John    149
1           Jennifer    225
2          Elisabeth    150
3        LisaRoxanne     89
4              Laura     80
...              ...    ...
48890        Sabrina     70
48891        Marisol     40
48892  Ilgar & Aysel    115
48893            Taz     55
48894     Christophe     90

[48895 rows x 2 columns]

In [41]:
# 8 Deletar linhas 
df1 = df.dropna()

In [42]:
# Respondendo as perguntas do CEO.

# 1 Qual o valor mais caro do aluguel em Nova York?
cols = ['price']
price = df1.loc[:, cols]
np.max(price)

price    10000
dtype: int64

In [43]:
# 2 Qual o valor médio do aluguel na cidade de Nova York?
cols = ['price']
price = df1.loc[:, cols]
np.mean(price)

price    142.332526
dtype: float64

In [45]:
# 3 Quais os nomes das regiões que existem em Nova York?
cols = ['neighbourhood_group']
regiao = df1.loc[:, cols]
np.unique(regiao)

array(['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island'],
      dtype=object)

In [ ]:
# Respondendendo o CEO
# email
# Olá CEO espero esse email o encontre bem! meu nome é Leydyane, sou Cientista de Dados do time de expansão.
# Segue a baixo as respostas que o senhor solicitou.

# 1. Qual o valor mais caro do aluguel na cidade de Nova York?
# R: O valor mais caro é $ 10.000.

# 2. Qual o valor médio do aluguel na cidade de Nova York?
# R: O valor médio do aluguel na cidade de Nova York é 142.332526

# 3. Qual os nomes das regióes da cidade de Nova York?
# R: Os nomes das regiões são Bronx, Brroklyn, Manhattan, Queens, Staten Island.